@model comp2007pmMusicStore.Models.Artist

@{
    ViewBag.Title = "Artist Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artist Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <h5>Albums</h5>
    <ul>
        @foreach (var a in Model.Albums)
        {
            <li>@a.Title</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
